<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <script type="application/javascript" src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"/>
    <title>Viestit: {{ thread.name }}</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/boards">Keskustelusovellus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- VASEN NAV -->
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- OIKEA NAV -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ session.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="d-flex flex-row justify-content-between align-items-center border-bottom pb-2">
            <h5 class="mb-0">Viestit: {{ thread.name }}</h5>
        </div>
        <div class="d-flex flex-column my-2 ">
            {% for message in messages %}
                <div>
                    <div class="d-flex justify-content-between">
                        <div><strong>{{ message.author }}</strong></div>
                        <div class="text-muted">{{ message.created_at.strftime('%d.%m.%Y %H:%M') }} <a href="/boar" class="text-danger text-decoration-none"><i
                                class="far fa-trash-alt"></i> poista</a></div>
                    </div>
                    <div class="bg-light mb-2 rounded-2 p-3">{{ message.content }}</div>
                </div>
            {% endfor %}
        </div>
        <div>
            <form action="/threads/{{ thread.id }}" method="POST">
                <div class="mb-2">
                    <label for="message_field" class="form-label">Kirjoita viesti</label>
                    <textarea class="form-control" id="message_field" name="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Lähetä</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>