{% extends "layout.html" %}
{% block title %}Alue{% endblock %}
{% block content %}
{% endblock %}
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="d-flex flex-row justify-content-between align-items-center border-bottom pb-2">
            <h5 class="mb-0">Keskustelut</h5>
            <button class="btn btn-sm btn-success">Uusi alue</button>
        </div>
        <div class="d-flex flex-column">
            {% for board in boards %}
                <div class="py-3 mb-0 small lh-sm border-bottom d-flex justify-content-between">
                    <div><a class="text-decoration-none" href="/boards/{{ board.id }}"><strong
                            class="text-uppercase">{{ board.name }}</strong></a></div>
                    <div>{{ board.thread_count }} keskustelua {{ board.comment_count }} kommenttia</div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>